.progress-loader {
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  width: 150px;
  background: rgb(210, 210, 210);
  height: 5px;
  border-radius: 7px;
  margin: 10px;
}

.progress {
  width: 1px;
  height: 5px;
  border-radius: 7px;
  background: rgba(180, 180, 180);

  transition: 0.5s;
  animation: loading_44 3s cubic-bezier(0.4, 1.01, 1, 1) infinite;
}

@keyframes loading_44 {
  0% {
    width: 0%;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
