.nav_container {
  /* position: fixed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
 
  background-color: rgb(255, 132, 50);
  /* background-color: rgba(0, 0, 0, 0.401); */
}
.NavBackBtn {
  background-color: transparent;
  height: 100%;
 color: rgba(255, 255, 255, 0.838);
  font-size: 16px;
  border-radius: 10px;
  padding: 8px 20px;
  border: none;
}
.NavBackBtn:hover {
  background-color: rgb(218, 115, 56);
  color: white;
}
